calc( operation, fallback = false )
    if current-property
        prop = current-property[ 0 ]
        if fallback
            add-property( prop, fallback )
        for prefix in caniuse-prefixes( "calc" )
            add-property( prop, unquote( "-" + prefix + "-calc(" + operation + ")" ) )
        unquote( "calc(" + operation + ")" )
    else
        error( "calc() must be used within a property" )
