// color-fallback( color )
// duplicate current property to create color fallback for colors with alpha values < 1

use( "color-fallback.js" )

color-fallback( color )
    if( current-property )
        if( alpha( color ) < 1 )
            fallback-color = alpha( color, 1 )
            add-property( current-property[ 0 ], _replace( current-property[ 1 ], "__CALL__", fallback-color ) )
        color
    else
        error( "color-fallback() must be used within a property" )
