col( size = false )
    unless size
        size = ks-grid-config[ "columns" ]
    display inline-block
    float left
    overflow hidden
    width: round( ks-grid-config[ "total-width" ] * ( ( ( ( ks-grid-config[ "gutter-width" ] + ks-grid-config[ "column-width" ] ) * size ) - ks-grid-config[ "gutter-width" ] ) / ks-grid-config[ "computed-total-width" ] ), 5 )
    margin: 0 round( ks-grid-config[ "total-width" ] * ( ( ks-grid-config[ "gutter-width" ] * .5 ) / ks-grid-config[ "computed-total-width" ] ), 5 )
