ks-col( size = false )
    unless size
        size = ks-grid-config[ "columns" ]
    display: inline-block
    float: left
    overflow: hidden
    if ks-grid-config[ "type" ] == "fixed"
        width: round( ks-grid-config[ "total-width" ] * ( ( ( ( ks-grid-config[ "gutter-width" ] + ks-grid-config[ "column-width" ] ) * size ) - ks-grid-config[ "gutter-width" ] ) / ks-grid-config[ "computed-total-width" ] ), 5 )
        margin: 0 round( ks-grid-config[ "total-width" ] * ( ( ks-grid-config[ "gutter-width" ] * .5 ) / ks-grid-config[ "computed-total-width" ] ), 5 )
    if ks-grid-config[ "type" ] == "fluid"
        _total = unit( ks-grid-config[ "total-width" ], "" )
        _col = unit( ks-grid-config[ "column-width" ], "" )
        _gut = unit( ks-grid-config[ "gutter-width" ], "" )
        _comp = unit( ks-grid-config[ "computed-total-width" ], "" )
        width: unit( _total * ( ( ( ( _gut + _col ) * size ) - _gut ) / _comp ), "%" )
        margin: 0 unit( _total * ( ( _gut * .5 ) / _comp ), "%" )

col = ks-col unless ks-no-conflict
