gs( type = "fixed", cols = false, col-width = false, gut-width = false )
    if type == "fixed"
        cols = ks-grid-fixed-columns unless cols
        col-width = ks-grid-fixed-col-width unless col-width
        gut-width = ks-grid-fixed-gut-width unless gut-width
        ks-grid-config[ "columns" ] = cols
        ks-grid-config[ "column-width" ] = col-width
        ks-grid-config[ "gutter-width" ] = gut-width
        _total = ( col-width + gut-width ) * cols
        ks-grid-config[ "computed-total-width" ] = _total
        ks-grid-config[ "total-width" ] = _total
        if selector() != "&"
            width: ks-grid-config[ "total-width" ]
            margin 0 auto
            overflow hidden
    else
        error( "Unknown grid system type '" + type + "' !" )
