gs( col-width = ks-grid-col-width, gut-width = ks-grid-gut-width, cols = ks-grid-columns, total = ks-grid-total-width )
    ks-grid-config[ "columns" ] = cols
    ks-grid-config[ "column-width" ] = col-width
    ks-grid-config[ "gutter-width" ] = gut-width
    ks-grid-config[ "computed-total-width" ] = ( col-width + gut-width ) * cols
    ks-grid-config[ "total-width" ] = ( col-width + gut-width ) * cols
    if unit( total ) == "%"
        ks-grid-config[ "total-width" ] = total
    if selector() != "&"
        width: ks-grid-config[ "total-width" ]
        margin 0 auto
        overflow hidden
