ks-grid-fixed-col-width = 60px
ks-grid-fixed-gut-width = 20px
ks-grid-fixed-columns = 12

ks-grid-fluid-col-width = 7.333333333333334%
ks-grid-fluid-gut-width = 1%
ks-grid-fluid-columns = 12

ks-grid-config = {}

@import "grid"
@import "row"
@import "column"
@import "offset"

// default to fixed layout
ks-gs()
