ks-grid-col-width = 60px
ks-grid-gut-width = 20px
ks-grid-columns = 12
ks-grid-computed-total-width = ( ks-grid-col-width + ks-grid-gut-width ) * ks-grid-columns
ks-grid-total-width = ks-grid-computed-total-width

@import "grid"
