ks-grid-fixed-col-width = 60px
ks-grid-fixed-gut-width = 20px
ks-grid-fixed-columns = 12
ks-grid-fixed-computed-total-width = ( ks-grid-fixed-col-width + ks-grid-fixed-gut-width ) * ks-grid-fixed-columns
ks-grid-fixed-total-width = ks-grid-fixed-computed-total-width

// default to fixed layout
ks-grid-config = {
    "column-width": ks-grid-fixed-col-width,
    "gutter-width": ks-grid-fixed-gut-width,
    "columns": ks-grid-fixed-columns,
    "computed-total-width": ks-grid-fixed-computed-total-width,
    "total-width": ks-grid-fixed-total-width
}

@import "grid"
@import "row"
@import "column"
@import "offset"
