ks-offset( size = 1 )
    if ks-grid-config[ "type" ] == "fixed"
        margin-left: round( ks-grid-config[ "total-width" ] * ( ( ( ks-grid-config[ "gutter-width" ] + ks-grid-config[ "column-width" ] ) * size + ( ks-grid-config[ "gutter-width" ] * .5 ) ) / ks-grid-config[ "computed-total-width" ] ), 5 )
    if ks-grid-config[ "type" ] == "fluid"
        _total = unit( ks-grid-config[ "total-width" ], "" )
        _col = unit( ks-grid-config[ "column-width" ], "" )
        _gut = unit( ks-grid-config[ "gutter-width" ], "" )
        _comp = unit( ks-grid-config[ "computed-total-width" ], "" )
        margin-left: unit( _total * ( ( ( _gut + _col ) * size + ( _gut * .5 ) ) / _comp ), "%" )

offset = ks-offset unless ks-no-conflict
