// Tomorrow Theme for highlight.js
// http://jmblog.github.com/color-themes-for-google-code-highlightjs
// Original theme - https://github.com/chriskempson/tomorrow-theme
// http://jmblog.github.com/color-themes-for-google-code-highlightjs

pre .comment
pre .title
    color #8e908c

pre .variable
pre .attribute
pre .tag
pre .regexp
pre .ruby .constant
pre .xml .tag .title
pre .xml .pi
pre .xml .doctype
pre .html .doctype
pre .css .id
pre .css .class
pre .css .pseudo
    color #c82829

pre .number
pre .preprocessor
pre .built_in
pre .literal
pre .params
pre .constant
    color #f5871f

pre .class
pre .ruby .class .title
pre .css .rules .attribute
    color #eab700

pre .string
pre .value
pre .inheritance
pre .header
pre .ruby .symbol
pre .xml .cdata
    color #718c00

pre .css .hexcolor
    color #3e999f

pre .function
pre .python .decorator
pre .python .title
pre .ruby .function .title
pre .ruby .title .keyword
pre .perl .sub
pre .javascript .title
pre .coffeescript .title
    color #4271ae

pre .keyword
pre .javascript .function
    color #8959a8

pre code
    color #008a67
