doctype html
html( lang="en" )
    head
        meta( charset="UTF-8" )/
        title
            | demo/
            = name + " "
            | - kouto swiss - A complete CSS framework for Stylus

        meta( name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0" )/

        link( rel="stylesheet", href="styles/styles.css" )/
        link( rel="stylesheet", href="styles/demo-#{id}.css" )/

        //if lt IE 9
            script( src="http://html5shiv.googlecode.com/svn/trunk/html5.js" )

    body
        header
            h1
                a( href="//kouto-swiss.io" )
                    img( alt="kouto swiss", src="styles/img/logo.svg" )/
                    span kouto swiss

        article
            header
                h2.
                    demo : #{name}

            section.doc!= doc

            section.demo( id="demo-{id}" )!= demo

            footer kouto swiss
