// quad( color )
// returns quad (tetrad) variations of given color

quad( color )
    first = spin( color, 90 )
    second = spin( color, -90 )
    third = spin( color, 180 )
    ( first second third )

tetrad( color )
    quad( color )
