body {
  font-size: 0.5em;
  font-size: 0.666666666666667em;
  font-size: 1em;
  font-size: 0.75em;
  font-size: 1.2em;
  font-size: 0.5em;
  font-size: 0.666666666666667em;
  font-size: 1em;
  font-size: 0.75em;
  font-size: 1.2em;
}
body {
  font-size: 0.75em;
  font-size: 1em;
  font-size: 1.5em;
}
