@import 'kouto-swiss'

div
    font-size modular-scale( 16px, -2, 1.5 )
    font-size modular-scale( 16px, -1, 1.5 )
    font-size modular-scale( 16px, 0, 1.5 )
    font-size modular-scale( 16px, 1, 1.5 )
    font-size modular-scale( 16px, 2, 1.5 )

div
    font-size modular-scale( 16px, -2, 1.618 )
    font-size modular-scale( 16px, -1, 1.618 )
    font-size modular-scale( 16px, 0, 1.618 )
    font-size modular-scale( 16px, 1, 1.618 )
    font-size modular-scale( 16px, 2, 1.618 )
