div {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 60px;
  margin: 0 10px;
  margin-left: 250px;
}
div {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 460px;
  margin: 0 10px;
  margin-left: 490px;
}
div {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 40px;
  margin: 0 5px;
  margin-left: 155px;
}
div {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 290px;
  margin: 0 5px;
  margin-left: 305px;
}
