@import 'kouto-swiss'

gs()

div
    col()

div
    col( 1 )

div
    col( 6 )

gs( "fixed", 16, 40px, 10px )

div
    col()

div
    col( 1 )

div
    col( 6 )

gs( "fluid" )

div
    col()

div
    col( 1 )

div
    col( 6 )

gs( "fluid", 10, 9% )

div
    col()

div
    col( 1 )

div
    col( 6 )
