div {
  display: block;
  width: 980px;
  margin: 0 -10px;
}
div {
  display: block;
  width: 810px;
  margin: 0 -5px;
}
div {
  display: block;
  width: 100.83333333333333%;
  margin: 0 -0.416666666666666%;
}
div {
  display: block;
  width: 101%;
  margin: 0 -0.5%;
}
div {
  display: block;
  width: 101%;
  margin: 0 -0.5%;
}
