div {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 940px;
  margin: 0 10px;
}
div {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 60px;
  margin: 0 10px;
}
div {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 460px;
  margin: 0 10px;
}
div {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 790px;
  margin: 0 5px;
}
div {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 40px;
  margin: 0 5px;
}
div {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 290px;
  margin: 0 5px;
}
div {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 99.16666666666666%;
  margin: 0 0.416666666666666%;
}
div {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 7.5%;
  margin: 0 0.416666666666666%;
}
div {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 49.16666666666666%;
  margin: 0 0.416666666666666%;
}
div {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 99%;
  margin: 0 0.5%;
}
div {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 9%;
  margin: 0 0.5%;
}
div {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 59%;
  margin: 0 0.5%;
}
