body {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
body {
  width: 800px;
  margin: 0 auto;
  overflow: hidden;
}
body {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
body {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
body {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
