@import 'kouto-swiss'

gs()

div
    row()

gs( "fixed", 16, 40px, 10px )

div
    row()

gs( "fluid" )

div
    row()

gs( "fluid", 10, 9% )

div
    row()

gs( "fluid", 10, gut-width: 1% )

div
    row()
