div {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
div {
  font-family: font-stack("Arial");
}
div {
  background: #f00;
  background: rgba(255,0,0,0.5);
}
div {
  background: color-fallback(rgba(255,0,0,0.5));
}
button {
  appearance: none;
}
