@import 'kouto-swiss'

query-one = retina-query( all, 1.3 )
query-two = retina-query( only screen, 2 )
query-three = retina-query( screen )

@media query-one
    div
        color red

@media query-two
    div
        color red

@media query-three
    div
        color red
