div {
  -webkit-transition: all 0.25s cubic-bezier(0.550,0.085,0.680,0.530);
  -o-transition: all 0.25s cubic-bezier(0.550,0.085,0.680,0.530);
  transition: all 0.25s cubic-bezier(0.550,0.085,0.680,0.530);
  -webkit-transition: all 0.25s cubic-bezier(0.550,0.055,0.675,0.190);
  -o-transition: all 0.25s cubic-bezier(0.550,0.055,0.675,0.190);
  transition: all 0.25s cubic-bezier(0.550,0.055,0.675,0.190);
  -webkit-transition: all 0.25s cubic-bezier(0.895,0.030,0.685,0.220);
  -o-transition: all 0.25s cubic-bezier(0.895,0.030,0.685,0.220);
  transition: all 0.25s cubic-bezier(0.895,0.030,0.685,0.220);
  -webkit-transition: all 0.25s cubic-bezier(0.755,0.050,0.855,0.060);
  -o-transition: all 0.25s cubic-bezier(0.755,0.050,0.855,0.060);
  transition: all 0.25s cubic-bezier(0.755,0.050,0.855,0.060);
  -webkit-transition: all 0.25s cubic-bezier(0.470,0.000,0.745,0.715);
  -o-transition: all 0.25s cubic-bezier(0.470,0.000,0.745,0.715);
  transition: all 0.25s cubic-bezier(0.470,0.000,0.745,0.715);
  -webkit-transition: all 0.25s cubic-bezier(0.950,0.050,0.795,0.035);
  -o-transition: all 0.25s cubic-bezier(0.950,0.050,0.795,0.035);
  transition: all 0.25s cubic-bezier(0.950,0.050,0.795,0.035);
  -webkit-transition: all 0.25s cubic-bezier(0.600,0.040,0.980,0.335);
  -o-transition: all 0.25s cubic-bezier(0.600,0.040,0.980,0.335);
  transition: all 0.25s cubic-bezier(0.600,0.040,0.980,0.335);
  -webkit-transition: all 0.25s cubic-bezier(0.600,-0.280,0.735,0.045);
  -o-transition: all 0.25s cubic-bezier(0.600,-0.280,0.735,0.045);
  transition: all 0.25s cubic-bezier(0.600,-0.280,0.735,0.045);
  -webkit-transition: all 0.25s cubic-bezier(0.250,0.460,0.450,0.940);
  -o-transition: all 0.25s cubic-bezier(0.250,0.460,0.450,0.940);
  transition: all 0.25s cubic-bezier(0.250,0.460,0.450,0.940);
  -webkit-transition: all 0.25s cubic-bezier(0.215,0.610,0.355,1.000);
  -o-transition: all 0.25s cubic-bezier(0.215,0.610,0.355,1.000);
  transition: all 0.25s cubic-bezier(0.215,0.610,0.355,1.000);
  -webkit-transition: all 0.25s cubic-bezier(0.165,0.840,0.440,1.000);
  -o-transition: all 0.25s cubic-bezier(0.165,0.840,0.440,1.000);
  transition: all 0.25s cubic-bezier(0.165,0.840,0.440,1.000);
  -webkit-transition: all 0.25s cubic-bezier(0.230,1.000,0.320,1.000);
  -o-transition: all 0.25s cubic-bezier(0.230,1.000,0.320,1.000);
  transition: all 0.25s cubic-bezier(0.230,1.000,0.320,1.000);
  -webkit-transition: all 0.25s cubic-bezier(0.390,0.575,0.565,1.000);
  -o-transition: all 0.25s cubic-bezier(0.390,0.575,0.565,1.000);
  transition: all 0.25s cubic-bezier(0.390,0.575,0.565,1.000);
  -webkit-transition: all 0.25s cubic-bezier(0.190,1.000,0.220,1.000);
  -o-transition: all 0.25s cubic-bezier(0.190,1.000,0.220,1.000);
  transition: all 0.25s cubic-bezier(0.190,1.000,0.220,1.000);
  -webkit-transition: all 0.25s cubic-bezier(0.075,0.820,0.165,1.000);
  -o-transition: all 0.25s cubic-bezier(0.075,0.820,0.165,1.000);
  transition: all 0.25s cubic-bezier(0.075,0.820,0.165,1.000);
  -webkit-transition: all 0.25s cubic-bezier(0.175,0.885,0.320,1.275);
  -o-transition: all 0.25s cubic-bezier(0.175,0.885,0.320,1.275);
  transition: all 0.25s cubic-bezier(0.175,0.885,0.320,1.275);
  -webkit-transition: all 0.25s cubic-bezier(0.455,0.030,0.515,0.955);
  -o-transition: all 0.25s cubic-bezier(0.455,0.030,0.515,0.955);
  transition: all 0.25s cubic-bezier(0.455,0.030,0.515,0.955);
  -webkit-transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1.000);
  -o-transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1.000);
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1.000);
  -webkit-transition: all 0.25s cubic-bezier(0.770,0.000,0.175,1.000);
  -o-transition: all 0.25s cubic-bezier(0.770,0.000,0.175,1.000);
  transition: all 0.25s cubic-bezier(0.770,0.000,0.175,1.000);
  -webkit-transition: all 0.25s cubic-bezier(0.860,0.000,0.070,1.000);
  -o-transition: all 0.25s cubic-bezier(0.860,0.000,0.070,1.000);
  transition: all 0.25s cubic-bezier(0.860,0.000,0.070,1.000);
  -webkit-transition: all 0.25s cubic-bezier(0.445,0.050,0.550,0.950);
  -o-transition: all 0.25s cubic-bezier(0.445,0.050,0.550,0.950);
  transition: all 0.25s cubic-bezier(0.445,0.050,0.550,0.950);
  -webkit-transition: all 0.25s cubic-bezier(1.000,0.000,0.000,1.000);
  -o-transition: all 0.25s cubic-bezier(1.000,0.000,0.000,1.000);
  transition: all 0.25s cubic-bezier(1.000,0.000,0.000,1.000);
  -webkit-transition: all 0.25s cubic-bezier(0.785,0.135,0.150,0.860);
  -o-transition: all 0.25s cubic-bezier(0.785,0.135,0.150,0.860);
  transition: all 0.25s cubic-bezier(0.785,0.135,0.150,0.860);
  -webkit-transition: all 0.25s cubic-bezier(0.680,-0.550,0.265,1.550);
  -o-transition: all 0.25s cubic-bezier(0.680,-0.550,0.265,1.550);
  transition: all 0.25s cubic-bezier(0.680,-0.550,0.265,1.550);
}
