@import 'kouto-swiss'

body
    background rgba( 255, 0, 0, .5 )

implicit-color-fallback = true

body
    background rgba( 255, 0, 0, .5 )

body
    background rgba( 255, 0, 0, 1 )

body
    background hsla( 0, 100%, 50%, .5 )

body
    background hsla( 0, 100%, 50%, 1 )

body
    border 1px solid rgba( 255, 0, 0, .5 )

body
    color hsla( 63, 83%, 68%, .5 )

body
    color color-fallback( hsla( 63, 83%, 68%, .5 ) )

body
    background rgba( 202, 43, 120, .5 ) url( test.png ) top left repeat

implicit-color-fallback = false

body
    background rgba( 255, 0, 0, .5 )

body
    background rgba( 255, 0, 0, 1 )
