@import 'kouto-swiss'

div
    static 10px

div
    static 10px 20px

div
    static 10px 20px 30px

div
    static 10px 20px 30px 40px

div
    relative 10px

div
    relative 10px 20px

div
    relative 10px 20px 30px

div
    relative 10px 20px 30px 40px

div
    absolute 10px

div
    absolute 10px 20px

div
    absolute 10px 20px 30px

div
    absolute 10px 20px 30px 40px

div
    fixed 10px

div
    fixed 10px 20px

div
    fixed 10px 20px 30px

div
    fixed 10px 20px 30px 40px

div
    fixed false

div
    fixed false 20px

div
    fixed 10px false 30px

div
    fixed 10px 20px false 40px

div
    fixed 0 20px

div
    fixed 10px 0 30px

div
    fixed 10px 20px 0 40px
