div {
  color: #f0f8ff;
  color: #faebd7;
  color: #0ff;
  color: #7fffd4;
  color: #f0ffff;
  color: #f5f5dc;
  color: #ffe4c4;
  color: #000;
  color: #ffebcd;
  color: #00f;
  color: #8a2be2;
  color: #a52a2a;
  color: #deb887;
  color: #5f9ea0;
  color: #7fff00;
  color: #d2691e;
  color: #ff7f50;
  color: #6495ed;
  color: #fff8dc;
  color: #dc143c;
  color: #0ff;
  color: #00008b;
  color: #008b8b;
  color: #b8860b;
  color: #a9a9a9;
  color: #006400;
  color: #a9a9a9;
  color: #bdb76b;
  color: #8b008b;
  color: #556b2f;
  color: #ff8c00;
  color: #9932cc;
  color: #8b0000;
  color: #e9967a;
  color: #8fbc8f;
  color: #483d8b;
  color: #2f4f4f;
  color: #2f4f4f;
  color: #00ced1;
  color: #9400d3;
  color: #ff1493;
  color: #00bfff;
  color: #696969;
  color: #696969;
  color: #1e90ff;
  color: #b22222;
  color: #fffaf0;
  color: #228b22;
  color: #f0f;
  color: #dcdcdc;
  color: #f8f8ff;
  color: #ffd700;
  color: #daa520;
  color: #808080;
  color: #008000;
  color: #adff2f;
  color: #808080;
  color: #f0fff0;
  color: #ff69b4;
  color: #cd5c5c;
  color: #4b0082;
  color: #fffff0;
  color: #f0e68c;
  color: #e6e6fa;
  color: #fff0f5;
  color: #7cfc00;
  color: #fffacd;
  color: #add8e6;
  color: #f08080;
  color: #e0ffff;
  color: #fafad2;
  color: #d3d3d3;
  color: #90ee90;
  color: #d3d3d3;
  color: #ffb6c1;
  color: #ffa07a;
  color: #20b2aa;
  color: #87cefa;
  color: #789;
  color: #789;
  color: #b0c4de;
  color: #ffffe0;
  color: #0f0;
  color: #32cd32;
  color: #faf0e6;
  color: #f0f;
  color: #800000;
  color: #66cdaa;
  color: #0000cd;
  color: #ba55d3;
  color: #9370db;
  color: #3cb371;
  color: #7b68ee;
  color: #00fa9a;
  color: #48d1cc;
  color: #c71585;
  color: #191970;
  color: #f5fffa;
  color: #ffe4e1;
  color: #ffe4b5;
  color: #ffdead;
  color: #000080;
  color: #fdf5e6;
  color: #808000;
  color: #6b8e23;
  color: #ffa500;
  color: #ff4500;
  color: #da70d6;
  color: #eee8aa;
  color: #98fb98;
  color: #afeeee;
  color: #db7093;
  color: #ffefd5;
  color: #ffdab9;
  color: #cd853f;
  color: #ffc0cb;
  color: #dda0dd;
  color: #b0e0e6;
  color: #800080;
  color: #639;
  color: #f00;
  color: #bc8f8f;
  color: #4169e1;
  color: #8b4513;
  color: #fa8072;
  color: #f4a460;
  color: #2e8b57;
  color: #fff5ee;
  color: #a0522d;
  color: #c0c0c0;
  color: #87ceeb;
  color: #6a5acd;
  color: #708090;
  color: #708090;
  color: #fffafa;
  color: #00ff7f;
  color: #4682b4;
  color: #d2b48c;
  color: #008080;
  color: #d8bfd8;
  color: #ff6347;
  color: #40e0d0;
  color: #ee82ee;
  color: #f5deb3;
  color: #fff;
  color: #f5f5f5;
  color: #ff0;
  color: #9acd32;
}
