@import 'kouto-swiss'

div
    size: 10px

div
    size: 10px 20px

div
    size: 10px auto

div
    size: auto 20px

div
    size: 10%

div
    size: 100% 2em

div
    size: 10px inherit

div
    size: false 20px

div
    size: 20px false

div
    size: 0 20px

div
    size: 20px 0
