div {
  background-image: url("./logo.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  div {
    background-image: url("./logo-2x.png");
    -webkit-background-size: 277px 292px;
    background-size: 277px 292px;
  }
}
div {
  background-image: url("./logo.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  div {
    background-image: url("./logo@2x.png");
    -webkit-background-size: 277px 292px;
    background-size: 277px 292px;
  }
}
div {
  background-image: url("../../unknown.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  div {
    background-image: url("../../unknown@2x.png");
    -webkit-background-size: contain;
    background-size: contain;
  }
}
