div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div {
  overflow: visible;
  overflow: hidden;
  overflow: scroll;
  overflow: auto;
}
div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div {
  overflow: visible !important;
  overflow: hidden !important;
  overflow: scroll !important;
  overflow: auto !important;
}
