@import 'kouto-swiss'

body
    lum luminosity( #ace500 )
    lum luminosity( #0055cc )
    lum luminosity( #d9007e )
    lum luminosity( #bb33ff )
    lum luminosity( #ffff00 )
    lum luminosity( #33ff33 )
    lum luminosity( #33ccff )
    lum luminosity( #8800cc )
    lum luminosity( #ffcc00 )
    lum luminosity( #ff0000 )
    lum luminosity( #2200cc )
    lum luminosity( #ffc266 )
    lum luminosity( #0099cc )
