button {
  width: 22px;
}
button:before,
button:after {
  content: " ";
  display: table;
}
button:after {
  clear: both;
}
section {
  clear: none;
  clear: left;
  clear: right;
  clear: both;
}
div {
  width: 100%;
}
div:before,
div:after {
  content: " ";
  display: table;
}
div:after {
  clear: both;
}
header {
  width: 100%;
}
header:before,
header:after {
  content: " ";
  display: table;
}
header:after {
  clear: both;
}
