body {
  background: #80ff00;
  background: #7f00ff;
  background: #0ff;
  background: #004080;
  background: #804000;
  background: #800080;
  background: #ff0080;
  background: #00ff80;
  background: #ff0;
  background: #000;
  background: #000;
  background: #000;
}
