@import 'kouto-swiss'

div
    transition all .25s ease( "in-quad" )
    transition all .25s ease( "in-cubic" )
    transition all .25s ease( "in-quart" )
    transition all .25s ease( "in-quint" )
    transition all .25s ease( "in-sine" )
    transition all .25s ease( "in-expo" )
    transition all .25s ease( "in-circ" )
    transition all .25s ease( "in-back" )
    transition all .25s ease( "out-quad" )
    transition all .25s ease( "out-cubic" )
    transition all .25s ease( "out-quart" )
    transition all .25s ease( "out-quint" )
    transition all .25s ease( "out-sine" )
    transition all .25s ease( "out-expo" )
    transition all .25s ease( "out-circ" )
    transition all .25s ease( "out-back" )
    transition all .25s ease( "in-out-quad" )
    transition all .25s ease( "in-out-cubic" )
    transition all .25s ease( "in-out-quart" )
    transition all .25s ease( "in-out-quint" )
    transition all .25s ease( "in-out-sine" )
    transition all .25s ease( "in-out-expo" )
    transition all .25s ease( "in-out-circ" )
    transition all .25s ease( "in-out-back" )
