/* leny/kouto-swiss
 *
 * /src/stylus/base/headings.styl - Headings styles
 *
 * coded by leny@flatLand!
 * started at 07/12/2016
 */

h1
    // …

h2
    font-size 3.2rem
    color primary

h3
    // …

h4
    // …

h5
    // …

h6
    // …
