// Colors are taken from the CSS Color Module Level 4, dated from 21 june 2014 (http://dev.w3.org/csswg/css-color/)

aliceblue = ks-aliceblue = rgb( 240, 248, 255 )
antiquewhite = ks-antiquewhite = rgb( 250, 235, 215 )
aqua = ks-aqua = rgb( 0, 255, 255 )
aquamarine = ks-aquamarine = rgb( 127, 255, 212 )
azure = ks-azure = rgb( 240, 255, 255 )
beige = ks-beige = rgb( 245, 245, 220 )
bisque = ks-bisque = rgb( 255, 228, 196 )
black = ks-black = rgb( 0, 0, 0 )
blanchedalmond = ks-blanchedalmond = rgb( 255, 235, 205 )
blue = ks-blue = rgb( 0, 0, 255 )
blueviolet = ks-blueviolet = rgb( 138, 43, 226 )
brown = ks-brown = rgb( 165, 42, 42 )
burlywood = ks-burlywood = rgb( 222, 184, 135 )
cadetblue = ks-cadetblue = rgb( 95, 158, 160 )
chartreuse = ks-chartreuse = rgb( 127, 255, 0 )
chocolate = ks-chocolate = rgb( 210, 105, 30 )
coral = ks-coral = rgb( 255, 127, 80 )
cornflowerblue = ks-cornflowerblue = rgb( 100, 149, 237 )
cornsilk = ks-cornsilk = rgb( 255, 248, 220 )
crimson = ks-crimson = rgb( 220, 20, 60 )
cyan = ks-cyan = rgb( 0, 255, 255 )
darkblue = ks-darkblue = rgb( 0, 0, 139 )
darkcyan = ks-darkcyan = rgb( 0, 139, 139 )
darkgoldenrod = ks-darkgoldenrod = rgb( 184, 134, 11 )
darkgray = ks-darkgray = rgb( 169, 169, 169 )
darkgreen = ks-darkgreen = rgb( 0, 100, 0 )
darkgrey = ks-darkgrey = rgb( 169, 169, 169 )
darkkhaki = ks-darkkhaki = rgb( 189, 183, 107 )
darkmagenta = ks-darkmagenta = rgb( 139, 0, 139 )
darkolivegreen = ks-darkolivegreen = rgb( 85, 107, 47 )
darkorange = ks-darkorange = rgb( 255, 140, 0 )
darkorchid = ks-darkorchid = rgb( 153, 50, 204 )
darkred = ks-darkred = rgb( 139, 0, 0 )
darksalmon = ks-darksalmon = rgb( 233, 150, 122 )
darkseagreen = ks-darkseagreen = rgb( 143, 188, 143 )
darkslateblue = ks-darkslateblue = rgb( 72, 61, 139 )
darkslategray = ks-darkslategray = rgb( 47, 79, 79 )
darkslategrey = ks-darkslategrey = rgb( 47, 79, 79 )
darkturquoise = ks-darkturquoise = rgb( 0, 206, 209 )
darkviolet = ks-darkviolet = rgb( 148, 0, 211 )
deeppink = ks-deeppink = rgb( 255, 20, 147 )
deepskyblue = ks-deepskyblue = rgb( 0, 191, 255 )
dimgray = ks-dimgray = rgb( 105, 105, 105 )
dimgrey = ks-dimgrey = rgb( 105, 105, 105 )
dodgerblue = ks-dodgerblue = rgb( 30, 144, 255 )
firebrick = ks-firebrick = rgb( 178, 34, 34 )
floralwhite = ks-floralwhite = rgb( 255, 250, 240 )
forestgreen = ks-forestgreen = rgb( 34, 139, 34 )
fuchsia = ks-fuchsia = rgb( 255, 0, 255 )
gainsboro = ks-gainsboro = rgb( 220, 220, 220 )
ghostwhite = ks-ghostwhite = rgb( 248, 248, 255 )
gold = ks-gold = rgb( 255, 215, 0 )
goldenrod = ks-goldenrod = rgb( 218, 165, 32 )
gray = ks-gray = rgb( 128, 128, 128 )
green = ks-green = rgb( 0, 128, 0 )
greenyellow = ks-greenyellow = rgb( 173, 255, 47 )
grey = ks-grey = rgb( 128, 128, 128 )
honeydew = ks-honeydew = rgb( 240, 255, 240 )
hotpink = ks-hotpink = rgb( 255, 105, 180 )
indianred = ks-indianred = rgb( 205, 92, 92 )
indigo = ks-indigo = rgb( 75, 0, 130 )
ivory = ks-ivory = rgb( 255, 255, 240 )
khaki = ks-khaki = rgb( 240, 230, 140 )
lavender = ks-lavender = rgb( 230, 230, 250 )
lavenderblush = ks-lavenderblush = rgb( 255, 240, 245 )
lawngreen = ks-lawngreen = rgb( 124, 252, 0 )
lemonchiffon = ks-lemonchiffon = rgb( 255, 250, 205 )
lightblue = ks-lightblue = rgb( 173, 216, 230 )
lightcoral = ks-lightcoral = rgb( 240, 128, 128 )
lightcyan = ks-lightcyan = rgb( 224, 255, 255 )
lightgoldenrodyellow = ks-lightgoldenrodyellow = rgb( 250, 250, 210 )
lightgray = ks-lightgray = rgb( 211, 211, 211 )
lightgreen = ks-lightgreen = rgb( 144, 238, 144 )
lightgrey = ks-lightgrey = rgb( 211, 211, 211 )
lightpink = ks-lightpink = rgb( 255, 182, 193 )
lightsalmon = ks-lightsalmon = rgb( 255, 160, 122 )
lightseagreen = ks-lightseagreen = rgb( 32, 178, 170 )
lightskyblue = ks-lightskyblue = rgb( 135, 206, 250 )
lightslategray = ks-lightslategray = rgb( 119, 136, 153 )
lightslategrey = ks-lightslategrey = rgb( 119, 136, 153 )
lightsteelblue = ks-lightsteelblue = rgb( 176, 196, 222 )
lightyellow = ks-lightyellow = rgb( 255, 255, 224 )
lime = ks-lime = rgb( 0, 255, 0 )
limegreen = ks-limegreen = rgb( 50, 205, 50 )
linen = ks-linen = rgb( 250, 240, 230 )
magenta = ks-magenta = rgb( 255, 0, 255 )
maroon = ks-maroon = rgb( 128, 0, 0 )
mediumaquamarine = ks-mediumaquamarine = rgb( 102, 205, 170 )
mediumblue = ks-mediumblue = rgb( 0, 0, 205 )
mediumorchid = ks-mediumorchid = rgb( 186, 85, 211 )
mediumpurple = ks-mediumpurple = rgb( 147, 112, 219 )
mediumseagreen = ks-mediumseagreen = rgb( 60, 179, 113 )
mediumslateblue = ks-mediumslateblue = rgb( 123, 104, 238 )
mediumspringgreen = ks-mediumspringgreen = rgb( 0, 250, 154 )
mediumturquoise = ks-mediumturquoise = rgb( 72, 209, 204 )
mediumvioletred = ks-mediumvioletred = rgb( 199, 21, 133 )
midnightblue = ks-midnightblue = rgb( 25, 25, 112 )
mintcream = ks-mintcream = rgb( 245, 255, 250 )
mistyrose = ks-mistyrose = rgb( 255, 228, 225 )
moccasin = ks-moccasin = rgb( 255, 228, 181 )
navajowhite = ks-navajowhite = rgb( 255, 222, 173 )
navy = ks-navy = rgb( 0, 0, 128 )
oldlace = ks-oldlace = rgb( 253, 245, 230 )
olive = ks-olive = rgb( 128, 128, 0 )
olivedrab = ks-olivedrab = rgb( 107, 142, 35 )
orange = ks-orange = rgb( 255, 165, 0 )
orangered = ks-orangered = rgb( 255, 69, 0 )
orchid = ks-orchid = rgb( 218, 112, 214 )
palegoldenrod = ks-palegoldenrod = rgb( 238, 232, 170 )
palegreen = ks-palegreen = rgb( 152, 251, 152 )
paleturquoise = ks-paleturquoise = rgb( 175, 238, 238 )
palevioletred = ks-palevioletred = rgb( 219, 112, 147 )
papayawhip = ks-papayawhip = rgb( 255, 239, 213 )
peachpuff = ks-peachpuff = rgb( 255, 218, 185 )
peru = ks-peru = rgb( 205, 133, 63 )
pink = ks-pink = rgb( 255, 192, 203 )
plum = ks-plum = rgb( 221, 160, 221 )
powderblue = ks-powderblue = rgb( 176, 224, 230 )
purple = ks-purple = rgb( 128, 0, 128 )
rebeccapurple = ks-rebeccapurple = rgb( 102, 51, 153 )
red = ks-red = rgb( 255, 0, 0 )
rosybrown = ks-rosybrown = rgb( 188, 143, 143 )
royalblue = ks-royalblue = rgb( 65, 105, 225 )
saddlebrown = ks-saddlebrown = rgb( 139, 69, 19 )
salmon = ks-salmon = rgb( 250, 128, 114 )
sandybrown = ks-sandybrown = rgb( 244, 164, 96 )
seagreen = ks-seagreen = rgb( 46, 139, 87 )
seashell = ks-seashell = rgb( 255, 245, 238 )
sienna = ks-sienna = rgb( 160, 82, 45 )
silver = ks-silver = rgb( 192, 192, 192 )
skyblue = ks-skyblue = rgb( 135, 206, 235 )
slateblue = ks-slateblue = rgb( 106, 90, 205 )
slategray = ks-slategray = rgb( 112, 128, 144 )
slategrey = ks-slategrey = rgb( 112, 128, 144 )
snow = ks-snow = rgb( 255, 250, 250 )
springgreen = ks-springgreen = rgb( 0, 255, 127 )
steelblue = ks-steelblue = rgb( 70, 130, 180 )
tan = ks-tan = rgb( 210, 180, 140 )
teal = ks-teal = rgb( 0, 128, 128 )
thistle = ks-thistle = rgb( 216, 191, 216 )
tomato = ks-tomato = rgb( 255, 99, 71 )
turquoise = ks-turquoise = rgb( 64, 224, 208 )
violet = ks-violet = rgb( 238, 130, 238 )
wheat = ks-wheat = rgb( 245, 222, 179 )
white = ks-white = rgb( 255, 255, 255 )
whitesmoke = ks-whitesmoke = rgb( 245, 245, 245 )
yellow = ks-yellow = rgb( 255, 255, 0 )
yellowgreen = ks-yellowgreen = rgb( 154, 205, 50 )
