media-query( media = all, conditions... )
    parsed-conditions = ()
    push( parsed-conditions, join( " ", media ) )
    for condition in conditions
        push( parsed-conditions, "(" + condition[ 0 ] + ": " + condition[ 1 ] + ")" )
    return unquote( join( " and ", parsed-conditions ) )
