media-query( media = all, conditions... )
    if ks-support-media-queries
        parsed-conditions = ()
        push( parsed-conditions, join( " ", media ) )
        for condition in conditions
            push( parsed-conditions, "(" + condition[ 0 ] + ": " + condition[ 1 ] + ")" )
        query = unquote( join( " and ", parsed-conditions ) )
        @media query
            {block}
    else
        {block}
