ks-position( pos, values )
    position pos
    if length( values ) == 1 && values[ 0 ] != false
        top values[ 0 ]
        right values[ 0 ]
        bottom values[ 0 ]
        left values[ 0 ]
    if length( values ) == 2
        top values[ 0 ] if values[ 0 ] != false
        right values[ 1 ] if values[ 1 ] != false
        bottom values[ 0 ] if values[ 0 ] != false
        left values[ 1 ] if values[ 1 ] != false
    if length( values ) == 3
        top values[ 0 ] if values[ 0 ] != false
        right values[ 1 ] if values[ 1 ] != false
        bottom values[ 2 ] if values[ 2 ] != false
        left values[ 1 ] if values[ 1 ] != false
    if length( values ) == 4
        top values[ 0 ] if values[ 0 ] != false
        right values[ 1 ] if values[ 1 ] != false
        bottom values[ 2 ] if values[ 2 ] != false
        left values[ 3 ] if values[ 3 ] != false

ks-static( values... )
    ks-position( static, values )

ks-relative( values... )
    ks-position( relative, values )

ks-absolute( values... )
    ks-position( absolute, values )

ks-fixed( values... )
    ks-position( fixed, values )

unless ks-no-conflict
    static( values... )
        ks-position( static, values )

    relative( values... )
        ks-position( relative, values )

    absolute( values... )
        ks-position( absolute, values )

    fixed( values... )
        ks-position( fixed, values )
