retina-image( img-src, size = false, suffix = "@2x" )
    query = retina-query( only screen, 1.3 )
    ext = extname( img-src )
    image-src = pathjoin( dirname( img-src ), basename( img-src, ext ) + ext )
    retina-src = pathjoin( dirname( img-src ), basename( img-src, ext ) + suffix + ext )
    unless size
        size = image-size( img-src, true )
        if size[ 0 ] == 0 && size[ 1 ] == 0
            size = contain

    background-image url( image-src )
    @media query
        background-image url( retina-src )
        background-size size

hidpi-image( img-src, size = false, suffix = "@2x" )
    retina-image( img-src, size, suffix )
